.text-area {
  position: absolute;
  width: 450px;
  height: 300px;
  left: 20%;
  top: 20%;
  background: lightcoral;
}

button {
  width: 200px;
  height: 150px;
  position: relative;
  display: block;
  cursor: pointer;
}

.text-area p {
  position: relative;
  top: 20%;
  left: 20%;
  font-size: 50px;
}